<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<header>
    <% include ../partials/nav %>
</header>
<body>
    <% include ../partials/search %>
    <ul>
      <% for (var i = 0; i < Object.keys(data).length; i++) { %>
      <p>
        <div class="cardContainer">
          <h1 class="cardHeader">Nutrition</h1>
          <li class="card"> <%= 'Brand: ' + JSON.stringify(data[i].fields.brand_name) %> </li>
          <li class="card"> <%= 'Item: ' + JSON.stringify(data[i].fields.item_name) %> </li>
          <li class="card"> <%= 'Calories: ' + JSON.stringify(data[i].fields.nf_calories) %> </li>
          <li class="card"> <%= 'Serving Size: ' + JSON.stringify(data[i].fields.nf_serving_size_qty) %> </li>
        <form action="/profile/<%= id %>/food/search" method="post">
          <div class="card">
            <input type="hidden" name="name" value="<%= data[i].fields.item_name %> ">
            <input type="hidden" name="brand_name" value="<%= data[i].fields.brand_name %> ">
            <input type="hidden" name="cal" value="<%= data[i].fields.nf_calories %> ">
            <input type="hidden" name="serving" value="<%= data[i].fields.nf_serving_size_qty %> ">
            <input type="submit" value="ADD">
            <div class="cardFooter"></div>
          </div>
        </form>
      </div>
      </p>
      <% } %>
    </ul>
</body>
</html>
